@import '~normalize.css/normalize.css';

$background-color: rgb(20, 30, 30);
$base-text-color: rgb(180, 180, 180);
$muted-color: darken($base-text-color, 30%);

$severity-minor: rgb(255, 180, 40);
$severity-major: rgb(255, 40, 40);

html, body {
  font-family: monospace;
  background-color: $background-color;
  color: $base-text-color
}

blockquote {
  margin: 1rem 0.5rem;
  padding-left: 1rem;
  border-left: 0.5rem solid $muted-color;
  color: $muted-color;
}

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted;
}

a {
  color: $base-text-color;
}

.text-muted {
  color: $muted-color;
}

.instance {
  margin: 4rem 0;
}

.incident {
  border: 1px solid $muted-color;
  border-radius: 3px;
  margin: 1rem;

  .incident-body {
    padding: 0.5rem;
  }

  .incident-footer {
    border-top: 1px solid $muted-color;
    padding: 0.5rem;
  }
}

.incident-impact {
  margin-left: 0.5rem;
}

.impact-severity-minor {
  color: $severity-minor;
}

.impact-severity-major {
  color: $severity-major;
}

#app {
  margin: 0.5rem;
}
